name: build-test-scan-push

on:
  workflow_dispatch:
    inputs:
      deploy:
        type: boolean
        default: false
        description: "Trigger Deployment?"
env:
  VERSION: 'latest'

permissions:
  contents: read
  id-token: write
  security-events: write

jobs:
  
  build:
    runs-on: ubuntu-latest

    #outputs:
     # appVersion: ${{ steps.version.outputs.appVersion }}
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - name: Read version from pom.xml
        id: version
        run: |
          env.VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo "appVersion=$VERSION" >> $GITHUB_OUTPUT
          echo "Detected version: $env.VERSION"
      - name: print version
        run: |
          echo "Version in some other step: $env.VERSION"



