name: build-test-scan-push

on:
  workflow_dispatch:
    inputs:
      deploy:
        type: boolean
        default: false
        description: "Trigger Deployment?"

permissions:
  contents: read
  id-token: write
  security-events: write

#outputs:
 # appVersion: ${{ steps.version.outputs.appVersion }}

#env:
 # DOCKER_REGISTRY
  #DOCKER_USERNAME
  #DOCKER_PASSWORD

jobs:
  
  build:
    runs-on: ubuntu-latest

    outputs:
      appVersion: ${{ steps.version.outputs.appVersion }}
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - name: Read version from pom.xml
        id: version
        run: |
          FULL_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          VERSION=$(echo $FULL_VERSION | cut -d'-' -f1)
          echo "appVersion=$VERSION" >> $GITHUB_OUTPUT
          echo "Detected version: $VERSION"
      - name: print version
        run: |
          echo "Version in some other step:: ${{ steps.version.outputs.appVersion }}"

      - name: Docker Build, Login and Push to Docker Hub
        run: |
          docker build -t ${{ vars.DOCKER_REGISTRY }}/${{ vars.DOCKER_USERNAME }}/javaapp:${{ steps.version.outputs.appVersion }} .
          docker login --username ${{ vars.DOCKER_USERNAME }} --password ${{ secrets.DOCKER_PASSWORD }}
          docker push ${{ vars.DOCKER_REGISTRY}}/${{ vars.DOCKER_USERNAME }}/javaapp:${{ steps.version.outputs.appVersion }}
        
  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      #- name: deploy the docker image
       # run: |
       #   docker run -d -p 4321:4321 ${{ vars.DOCKER_REGISTRY }}/${{ vars.DOCKER_USERNAME }}/javaapp:1.0.2
       #   sleep 10
       #   curl -v http://localhost:4321/hello

      - name: Debug path
        run: |
          echo "PWD: $(pwd)"
          cd ..
          ls -la
          
      #- name: Update tag value in values.yaml
       # run: |
        #  sed -i "s/tag: 1.0.0/tag: ${{ needs.build.outputs.appVersion }}/g" "${{ github.workspace }}/values.yaml"
          #git add .
          #git commit -m "Updated"
          #git push origin main
      #    helm install cicd .




